doctype html5
html
	head
		script(src='/socket.io/socket.io.js')
		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/javascripts/index.js')
	body
		| plays midi incoming via websockets